body{
    background-color: #eadeb6;
}

.title{
    line-height: 100px;
    flex: none;
    font-size: 32px;
    font-weight: bold;

    text-align: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.question{
    display: block;
    width: 1200px;
    font-size: 30px;
    background-color: #91700e;
    align-items: center;
    color: white;
}

.text{
    background-color: #fafde3;
    text-align: left;
    width: 1200px;

}

p{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
