body{
    background-color: #eadeb6;
}

.title{
    line-height: 100px;
    flex: none;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
}

.question{
    display: block;
    width: 1200px;
    font-size: 30px;
    font-weight: bold;
    background-color: #91700e;
    color: white;
}

.text{
    background-color: #fafde3;
    text-align: left;
    width: 1200px;

}

p{
    font-size: 24px;
    color: black;
    text-align: justify;
    margin-right: 10px;
    margin-left: 10px;
}
h4{
    margin: 5px 10px;
}

img{
    margin: 0;
}
